<div id="success" class="alert alert-success fade hide d-none" role="alert">
 Your burger was added succesfully! 
</div>
<div id="delete" class="alert alert-danger fade hide d-none" role="alert">
 Your burger was deleted succesfully! 
</div>
<div id="problem" class="alert alert-warning alert-dismissible fade hide d-none" role="alert">
  <strong>Holy guacamole!</strong> Something went wrong try again
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>